body{
  border-bottom: 1px;
  width: 100%;
}
div.linea{
  width: 80%;
  border-left: solid 1px orange;
  border-right: solid 1px orange;
  margin: 0 auto;
}

form{
  width: 70%;
  margin-left: 5%;

}
label{
  font-size: 22px;
  font-weight: bold;
}
button#enviar{
  height: 35px;
  width: 45%;
  border-radius: 5px;
  background-color: orange;
  color: white;
}
button#resetear{
  height: 35px;
  width: 45%;
  border-radius: 5px;
  background-color: white;
  color: orange;
}
